.sidebar 
    .logo-area.text-center Jemy
    ul.links-area.list-unstyled
        li: a(href="#") Homepage
        li
            a.toggle-submenu(href="#")
                |Forms
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") input
                li: a(href="#") Textarea
                li: a(href="#") Checkbox
                li: a(href="#") radioButton
        li
            a.toggle-submenu(href="#") 
                |Misc
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") loading
                li: a(href="#") Breadcrumbs
        li
            a.toggle-submenu(href="#") 
                |Others
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") input
                li: a(href="#") Textarea
                li: a(href="#") Checkbox
                li: a(href="#") radioButton