* {
    box-sizing: border-box;
}

//body {}
.page {
    min-height: 100vh;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100vh;
        transition: 0.3s;
        will-change: width;
        background-color: #f2f1f6;
        float: right;
        &.no-sidebar {
            width: 100%;
        }
    }
}