.header {
    background-color: #fff;
    padding: 20px;
    .toggle-sidebar {
        cursor: pointer;
    }
    .header-icon {
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 50%;
        color: #555;
        cursor: pointer;
    }
    .notifications-container {
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu {
            min-width: 400px;
            border: none;
            padding: 0;
            box-shadow: 0 0 10px #DDD;
            top: 10px !important;
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                left: 11px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }
            .noti-head {
                background-color: #333;
                padding: 15px;
                color: #fff;
                font-weight: bold;
                span {
                    float: right;
                }
            }
            .noti-content {
                padding: 20px;
                ul {
                    margin: 0;
                    li {
                        padding: 5px;
                        font-weight: bold;
                        color: #777;
                        border-bottom: 1px solid #e9e8e8;
                        margin-bottom: 10px;
                        font-size: 15px;
                        &:first-child {
                            padding-top: 0px;
                        }
                        &:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border-bottom: 0;
                        }
                        i {
                            background-color: #f7f7f7;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            margin-right: 10px;
                            position: relative;
                            top: -5px;
                            font-size: 14px;
                            color: #fff;
                            &.fa-envelope {
                                background-color: #4caf50;
                            }
                            &.fa-money-bill {
                                background-color: #2196f3;
                            }
                            &.fa-thumbs-up {
                                background-color: #ff9800;
                            }
                        }
                    }
                }
            }
            .noti-foot {
                a {
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #eee;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .usermenu-container {
        float: right;
        .username {
            cursor: pointer;
            .avatar {
                width: 40px;
                height: 40px;
            }
            .user {
                font-weight: bold;
                color: #777;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        .dropdown-menu {
            min-width: 400px;
            border: none;
            padding: 20px;
            box-shadow: 0 0 10px #DDD;
            top: 10px !important;
            border: 1px solid #ddd;
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                right: 40px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ddd transparent;
            }
            .user-info {
                h3 {
                    font-weight: bold;
                    font-size: 22px;
                }
                p {
                    color: #888;
                }
            }
            .activities-list {
                li {
                    padding: 10px;
                    font-size: 13px;
                }
            }
            .usermenu-links {
                .link-box {
                    cursor: pointer;
                    background-color: #f3f3f3;
                    padding: 8px;
                    border-radius: 6px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    i {
                        float: left;
                        position: relative;
                        top: 5px;
                        &.fa-cog {
                            color: #2980b9;
                        }
                        &.fa-user {
                            color: #16a085;
                        }
                        &.fa-power-off {
                            color: #c0392b;
                        }
                    }
                }
            }
        }
    }
}