- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/style
    body
        .page.hone-page
            include pug/layout/sidebar
            .content-area 
                include pug/layout/header
                .container-fluid
                    .content 
                        include pug/compnents/page-head
        include pug/layout/script